/*ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightseagreen;
}

li {
    float: left;
    margin-left:200px;
}

    li a {
        display: block;
        color: red;
        text-align: center;
        padding: 16px;
        text-decoration: none;
    }

        li a:hover {
            background-color: #111111;
        }
    */
footer {
    color:red;
    background-color: lightseagreen;
    text-align: center;
    padding: 16px;
}
body{
     text-align: center;
}
table{
    text-align:center;
    position:center;
}
.footer {
	background: #EDEFF1;
	height: auto;
	padding-bottom: 30px;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;
}
.footer p {
	margin: 0;
}
.footer img {
	max-width: 100%;
}
.footer h3 {
	border-bottom: 1px solid #BAC1C8;
	color: red;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding: 40px 0 10px;
	text-transform: uppercase;
}
.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	color: #7F8C8D;
}
.embed-responsive .embed-responsive-item, .embed-responsive iframe, .embed-responsive embed, .embed-responsive object, .embed-responsive video{
    width:80% !important;
    height:80% !important;
    margin-left:10% !important;
}
.embed-responsive-16by9{
    margin-bottom:-100px;
}
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img{
    margin:0 auto !important;
}