
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout.cshtml";
}

<h2>Gopi</h2>


<div class="text-center">
  <h3 style="color:green">Happy Birthday. Wishing you more glorious and wonderful years on the surface of the earth – or wherever you might be.</h3>
</div>
<h3 class="text-center" style="color:red;font-size:5em;">
    పుట్టినరోజు  శుభాకాంక్షలు  స్మైలీ 
</h3>
<br />
<div class="container">
    <img src="~/Content/Images/save_smily.png" class="img-responsive" />
</div>
<br />