
@{
    ViewBag.Title = "Photos";
    Layout = "~/Views/_Layout.cshtml";
}

<h2>Photos</h2>

<div class="gopi">
    <img src="~/Content/Images/Sonakshi-Sinha-002.jpg" class="img-responsive" />
</div>
<br />
<div class="gopi">
    <img src="~/Content/Images/Sonakshi-Sinha-002.jpg" class="img-responsive" />
</div>
<br />
<div class="gopi">
    <img src="~/Content/Images/Sonakshi-Sinha-002.jpg" class="img-responsive" />
</div>
<br />