@model List<string>

@{
    ViewBag.Title = "Photos";
    Layout = "~/Views/_Layout.cshtml";
}

<h1 style="color: red;font-size: 5em;" class="text-center"> Happy Birthday Smily </h1>
<div class="container">

    @foreach (var item in Model)
    {
        <div class="gopi">
            <img src="@Url.Content(item)" class="img-responsive" />
        </div>
        <h1 style="color: red;font-size: 5em;"> Happy Birthday Smily </h1>
        <br />
    }
</div>